<div class="container">
  <div class="header">
    <a href="index.html" class="header-left logo-text">Domain Name Search</a>
    <a class="donate" href="https://tiep.vn/Donate" target="_blank" rel="noopener noreferrer">❤️ Donate</a>
  </div>
  <form class="input" id="input">
    <input id="name" type="text" autocomplete="off" name="name" placeholder="Enter domain name" autofocus required />
    <button type="submit" id="button" class="umami--click--check-button">Check</button>
  </form>
  <p id="hideTextResults" style="display: none"><b>Results :</b></p>
  <div id="results" class="results"></div>
  <div class="push"></div>
  <div>
    <p style="margin-bottom: -8px"><b>Note :</b></p>
    <p style="margin-bottom: -12px">🔴 Domain not available</p>
    <p>🟢 Domain available</p>
    <p>Sponsored and powered by <a class="donate" href="https://tiep.vn/Donate" target="_blank">🌝 tiep.vn</a></p>
    <br>
    <p style="margin-bottom: -8px"><b>Video instruction :</b></p><br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LI_R4M5CUAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
